<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		<services>
			<service name="DemoSoapService.GreetingService">
				
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="DemoSoapService.IGreetingService" />

			</service>
		</services>

		<behaviors>
			<serviceBehaviors>

				<behavior>
					<!-- Permite obtener la metadata/WSDL por HTTP sin autenticación -->
					<serviceMetadata httpGetEnabled="true" /> <!--Raiz del problema, verbose endpoint como OpenApi Swagger Expuesto-->

					<serviceDebug includeExceptionDetailInFaults="false" httpHelpPageEnabled="true" /> <!-- httpHelp es para que el hallazgo quede joya-->
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!-- Opcional: para que el runtime no te meta cosas raras automáticamente -->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
	</system.serviceModel>
</configuration>
